@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --dark-bg-color: #1f2937;
  --almost-white: #f9faf8;
  --gray: #e5e7eb;
  --button-color: #3882F6;
  --default-vert-padding: 200px;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-bg-color);
  padding: 0 var(--default-vert-padding);
  color: var(--almost-white);
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: 800;
}

header ul {
  display: flex;
  list-style-type: none;
  gap: 0 2rem;
  font-size: 18px;
}
