@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --dark-bg-color: #1f2937;
  --almost-white: #f9faf8;
  --gray: #e5e7eb;
  --button-color: #3882F6;
  --default-vert-padding: 200px;
  font-family: "Roboto", sans-serif;
  --text-size: 18px;
}

body {
  margin: 0;
  font-size: var(--text-size);
}

header, footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-bg-color);
  padding: 0 var(--default-vert-padding);
  color: var(--almost-white);
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: 800;
}

header ul {
  display: flex;
  list-style-type: none;
  gap: 0 2rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero {
  display: flex;
  padding: 115px var(--default-vert-padding);
  background-color: var(--dark-bg-color);
  color: var(--almost-white);
  flex: 1 0 50%;
  gap: 3rem;
}

.hero-text {
  font-size: 48px;
  font-weight: 900;
}

p {
  margin-block-start: 0;
}

.image-container {
  display: flex;
  justify-content: space-evenly;
}

.placeholder {
  flex: 1 0 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6d747d;
}

button {
  background-color: var(--button-color);
  padding: 0.5rem 2rem;
  border-radius: 10px;
  border: 0px;
  font-size: 18px;
  color: var(--almost-white);
  font-weight: 700;
}

.info{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 0 var(--default-vert-padding);
}

footer {
  justify-content: center;
}
